<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <application>
        <activity
            android:name=".CameraAdjustActivity"
            android:exported="false" />
        <activity
            android:name=".ProcessImageActivity"
            android:exported="false" />
        <activity
            android:name=".BeautyActivity"
            android:exported="false" />
        <activity
            android:name=".CameraDemoActivity"
            android:exported="false" />
    </application>

</manifest>